[user]
	name = Jonavon Wilcox
	email = jonavon@gmail.com
[core]
	autocrlf = input 
	excludesfile = ~/.gitignore.global
	preloadindex = true
	fscache = true
	longpaths = true
[alias]
	st = status
	co = checkout
	cm = commit
	undo = reset HEAD~1 --mixed
	amend = commit -a --amend
	l = log --graph --decorate --pretty=oneline --abbrev-commit
	lg = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ll = log --graph --decorate --pretty=oneline --abbrev-commit --all --stat -M
	tree = ! git ls-tree --full-name --name-only -t -r HEAD | sed -e \"s/[^-][^\\/]*\\//   |/g\" -e \"s/|\\([^ ]\\)/|-- \\1/\"
	disk-usage = rev-list --disk-usage=human --objects --all
	ls = ls-files
	hide = update-index --assume-unchanged
	unhide = update-index --no-assume-unchanged
	hidden = ! git ls-files -v | grep '^[a-z]' | cut -c 3-
	list-untracked = !bash -c 'git fetch --prune && git branch -r | grep origin/ | cut -d/ -f2- | grep -v -f /dev/fd/0 <(git branch -vv --format='\\''%(refname:short) %(upstream:short)'\\'' | grep origin | awk '\\''{print $1}'\\'')'
	shred = ! git list-untracked | xargs git branch -D
	pr = "!f() {\n  BRANCH=\"$1\"\n  WORKTREE_PATH=\"../pull-requests/${BRANCH}\"\n  \n  if [ \"$#\" -ge 2 ]; then\n    WORKTREE_PATH=\"$2\"\n  fi\n  \n  git fetch origin\n  git worktree add \"${WORKTREE_PATH}\" \"origin/${BRANCH}\"\n}; f"
[push]
	default = simple
	autoSetupRemote = true
[gc]
	auto = 256
[init]
	defaultBranch = main
[http]
	postBuffer = 524288000
[grep]
	lineNumber = true
[diff]
	tool = meld
[difftool "meld"]
	cmd = meld $LOCAL $REMOTE
